<h3>Edit Store</h3>

<%= form_for @store, url: {action: "update"} do |f| %>
    <%= f.label :store_name %>
    <%= f.text_field :name, :value => @store.name %>
    <br>
    <%= f.label :area_name %>
    <%= f.select(:area_id,Area.all.collect{|t| [t.name, t.id]}, {:selected => @store.area_id.to_i}) %>
    <br>
    <%= f.label :operates_in %>
    <%= f.select(:operations, [['Both', 'Both'], ['Laundry', 'Laundry'], ['Dryclean', 'Dryclean']], {:selected => @store.operations}) %>
    <br>
    <%= f.submit "Update Store" %>
<% end %>