<h3>Add Address</h3>

<%= form_for @address, url: {action: "create"} do |f| %>
    <%= f.label :address_line_1 %>
    <%= f.text_field :line1 %>
    <br>
    <%= f.label :address_line_2 %>
    <%= f.text_field :line2 %>
    <br>
    <%= f.label :area_name %>
    <%= f.select(:area_id,Area.all.collect{|t| [t.name, t.id]}) %>
    <br>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <br>
    <%= f.label :pin %>
    <%= f.text_field :pin %>
    <br>
    <%= f.submit "Add Address" %>
<% end %>
